<div id="education" class="education content">
	
	<div class="info">
		<h2>{{education.course}} - {{education.university}}</h2>
		<h4>{{education.date.start}} - {{education.date.end}}</h4>	
		<h3>{{education.description}}</h3>
    <h4>Classification: {{education.classification}}</h4>
	</div>
	
	<div class="grades">
        <b> Year 4</b>
        <table class="table">
          <tbody>
            <tr>
              <td>Programming in C++</td>
              <td>80.4%</td>
            </tr>
            <tr>
              <td  >Games Technology</td>
              <td>73.1%</td>
            </tr>
            <tr>
              <td  >Individual Project - Triple Module Dissertation</td>
              <td>82.0%</td>
            </tr>
            <tr>
              <td  >Electronic Commerce</td>
              <td>78.0%</td>
            </tr>
            <tr>
              <td  >Data Mining</td>
              <td>82.5%</td>
            </tr>
            <tr>
              <td  >Requirements Engineering</td>
              <td>80.0%</td>
            </tr>
          </tbody>
        </table>


        <b> Year 3 - Industrial Placement with Thomson Reuters</b>
        <table class="table">
          <tbody>
            <tr>
              <td  >Professional Experience - Placement Reports</td>
              <td>76.0%</td>
            </tr>
          </tbody>
        </table>


        <b> Year 2</b>
        <table class="table  ">
          <tbody>
            <tr>
              <td  >Data Structures &amp; Algorithms</td>
              <td>66.0%</td>
            </tr>
            <tr>
              <td  >Formal Methods</td>
              <td>72.4%</td>
            </tr>
            <tr>
              <td  >Networks and Operating Systems</td>
              <td>64.6%</td>
            </tr>
            <tr>
              <td  >Object-Orientated Analysis and Design</td>
              <td>75.1%</td>
            </tr>
            <tr>
              <td  >Professional Development in IT</td>
              <td>73.0%</td>
            </tr>
            <tr>
              <td  >Software Measurement and Reliability</td>
              <td>57.7%</td>
            </tr>
            <tr>
              <td  >Team Project - Double Module</td>
              <td>67.0%</td>
            </tr>
          </tbody>
        </table>


        <b> Year 1</b>
        <table class="table  ">
          <tbody>
            <tr>
              <td  >Computation and Reasoning</td>
              <td>81.8%</td>
            </tr>
            <tr>
              <td  >Mathematics for Computing</td>
              <td>69.6%</td>
            </tr>
            <tr>
              <td  >Software Engineering</td>
              <td>60.8%</td>
            </tr>
            <tr>
              <td  >Systems Architecture</td>
              <td>56.8%</td>
            </tr>
            <tr>
              <td  >Programming in Java</td>
              <td>80.5%</td>
            </tr>
            <tr>
              <td  >Business Systems</td>
              <td>78.0%</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
</div>