<ul class="social-media">
  <li><a href=mailto:{{contactMe}}><img src="images/svg-icons/57-outlook.svg"></a></li>
  <li><a href={{social.github}}><img src="images/svg-icons/41-github.svg"></a></li>
  <li><a href={{social.instagram}}><img src="images/svg-icons/04-flickr.svg"></a></li>
  <li><a href={{social.twitter}}><img src="images/svg-icons/03-twitter.svg"></a></li>
  <li><a href={{social.linkedIn}}><img src="images/svg-icons/11-linkedin.svg"></a></li>
  <li><a href={{social.facebook}}><img src="images/svg-icons/06-facebook.svg"></a></li>
  <li><a href={{social.instagram}}><img src="images/svg-icons/38-instagram.svg"></a></li>
  <li><a href={{social.blog}}><img src="images/svg-icons/53-medium.svg"></a></li>
</ul>
<p class="copyright">	&copy; Chris Gregori 2016</p>
