<!DOCTYPE html>
<html>

  {{> header}}

  <body>

    <div class="main-page-content">

      <div class="left-side side">

        <div class="content">
          <h1 class="name-title">
            Chris Gregori
          </h1>

          <div class="blurb">
            Full-stack Software Engineer living in London. <br><br>
            Love working on fun projects with fun people.
            <br>
            <br> <a href="mailto:{{site.email}}">Contact me</a> if you'd like to know more.<br>
          </div>

          <div class="type-wrap">
              <div id="typed-strings"></div>
              <span id="typed" style="white-space:pre;"></span>
          </div>

          <div class="footer">
            <div class="social">
              <a class="facebook icon" href="{{site.facebooklink}}"></a>
              <a class="twitter icon" href="{{social.twitter}}"></a>
              <a class="linked-in icon" href="{{site.linkedin_link}}"></a>
              <a class="instagram icon" href="{{site.instagram_link}}"></a>
              <a class="github icon" href="{{social.github}}"></a>
            </div>
            <div class="copyright">
              © 2016 by Chris Gregori
            </div>
          </div>

        </div>
      </div>

      <div class="right-side side">

        <div class="content">
          <h2 class="subheading">
            Education
          </h2>
          <h2 class="subheading">
            .
          </h2>
          <h2 class="subheading">
            Experience
          </h2>
          <h2 class="subheading">
            .
          </h2>
          <h2 class="subheading">
            Projects
          </h2>
          <h2 class="subheading">
            .
          </h2>
          <h2 class="subheading">
            <a href="{{social.blog}}">Blog</a>
          </h2>


        </div>

      </div>

    </div>



  </body>

</html>
