<!DOCTYPE html>
<html>

  {{> head}}

  <body>
    <div id="main" class="main-page-content">

      <div class="header">
        <img id="side-nav-toggle-button" src="images/hamburger.svg"></img>
      </div>


        <div class="content">




          <div class="blurb">
            <div class="image">
              <img src="images/me2.jpg" />
            </div>
            <div class="details">
              <h1>Chris Gregori</h1>
              <h2>Full-stack Software Engineer</h2>
              <h3>
                <a href="#">
                  @_chrisgreg
                </a>
              </h3>
              <h3>
                <div class="type-wrap">
                  <div id="typed-strings"></div>
                  <span id="typed" style="white-space:pre;"></span>
                </div>
              </h3>
            </div>
          </div>



          <div class="footer">
            <div class="social">
              <a class="facebook icon" href="{{social.facebook}}"></a>
              <a class="twitter icon" href="{{social.twitter}}"></a>
              <a class="linked-in icon" href="{{social.linkedIn}}"></a>
              <a class="instagram icon" href="{{social.instagram}}"></a>
              <a class="medium icon" href="{{social.blog}}"></a>
              <a class="github icon" href="{{social.github}}"></a>
            </div>
            <!-- <div class="copyright">
              © 2016 by Chris Gregori
            </div> -->
          </div>


        </div>

    </div>

    <div id="side-nav" class="side-nav">
      {{> links}}
    </div>


  </body>

</html>
